.App {
  padding: 10px;
  box-sizing: border-box;
  color: #FFFFFF;
  text-decoration: none;
}

.App-Bar {
  min-width: 100px ;
  display: flex;
  justify-content: space-between;
  width: 300px;
}

.App-Bar div a {
  color: #FFFFFF;
  text-decoration: none;
}

.btn {
  color: #FFFFFF;
  background-color: #000000;
  border: 1px solid #FFFFFF;
  border-radius: 5px;
  padding: 2px 10px;
  position: absolute;
  right: 20px;
  top: 10px;
}